


.mainDiv{
  margin-left: 250px;
    margin-top: 60px;
}
.fex{
  margin-left: 10px;
}
.ip{
  margin-left: 10px;
  width: 100px;
}

.editor{
  border-style:ridge; 
  width: 550px;
  height: 250px;
}

.selected{
  background-color: brown;
  color: white
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.underline{
  text-decoration: underline;
}